@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --font-default: "Roboto", "sans-serif";

  --container-*: initial;
  --container-sm: 0.5rem;
  --container-md: 1.5rem;
  --container-lg: 2rem;
}

@utility container-* {
  padding: --value(--container- *);
}
